body {
  font-family: sans-serif;
  background-color: white;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%236685a3' fill-opacity='0.15'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

a {
  color: #6685a3;
}

.card {
  border: none;
  border-radius: 0;
  background-color: aliceblue;
  border-top: 3px solid #6685a3;

  .card-body {
    border-radius: 0;
    font-weight: 300;
  }

  .card-title {
    text-transform: uppercase;
    font-weight: 300;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0;
    padding: 0.5rem 0;
    font-size: calc(1.3rem + 1.2vw);
  }

  ul {
    list-style-type: none;
    padding-left: 1.5rem;

    li {
      position: relative;
      padding-bottom: .125rem;
      &:before {
        position: absolute;
        left: -1rem;
        content: '–';
      }
    }
  }
}

small {
  h1 {
    font-size: calc(1rem + 1.2vw);
  }

  h2 {
    font-size: calc(0.9rem + 0.9vw);
  }

  h3 {
    font-size: calc(0.85rem + 0.6vw);
  }

  h4 {
    font-size: calc(0.8rem + 0.3vw);
  }
}
